* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: white;
  --text-color: #e1e1e6;
}

body {
  background-image: url(/assets/explorerimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4.8rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

p {
  color: var(--text-color);
  font-size: 1.8rem;
  width: 64.8rem;
  height: 20.3rem;
  line-height: 160%;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 81vh;
  margin-top: 6.3rem;
  margin-left: 10.2rem;
}
